<div class="page-header">
        <h1>Hlasovanie vo vlastnom volebnom okrsku</h1>
    </div>

    <div class="well">
        <p>Voľby do Národnej rady Slovenskej republiky sa konajú <strong>v sobotu 5. marca 2016 od 7:00 do 22:00 h</strong>.</p>
        <p>Právo voliť do Národnej rady Slovenskej republiky má občan Slovenskej republiky, ktorý najneskôr <strong>v deň konania volieb
            dovŕšil 18 rokov veku</strong> a nenastala u neho prekážka práva voliť.</p>
        <p>Prekážkou práva voliť je:</p>
        <ul>
            <li>zákonom ustanovené obmedzenie osobnej slobody z dôvodov ochrany verejného zdravia</li>
            <li>výkon trestu odňatia slobody uložený za spáchanie obzvlášť závažného zločinu</li>
            <li>pozbavenie spôsobilosti na právne úkony</li>
        </ul>
        <br>
        <div class="alert alert-info">
            <span class="fa fa-info-circle pull-left"></span><p>Volič, ktorý sa nemôže dostaviť do volebnej miestnosti zo závažných, najmä zdravotných dôvodov, má právo požiadať obec, resp. okrskovú volebnú komisiu o vykonanie hlasovania
                do prenosnej volebnej schránky, a to len v územnom obvode volebného okrsku, pre ktorý bola okrsková volebná komisia zriadená.</p>
        </div>
    </div>

    <article>
        <div class="row">
            <div class="col-xs-12 col-md-4 pull-right">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">Náležitosti</h2>
                    </div>
                    <ul class="list-group text-success">
                        <li class="list-group-item">občiansky preukaz</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 pull-left">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Postup</h2>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li>
                                <p>Po príchode od volebnej miestnosti je volič povinný preukázať okrskovej volebnej komisii svoju totožnosť predložením <strong>občianskeho preukazu</strong>.</p>
                            </li>
                            <li>
                                <p>Okrsková volebná komisia zakrúžkuje poradové číslo voliča v zozname voličov a vydá voličovi hlasovacie lístky a prázdnu obálku opatrenú odtlačkom úradnej pečiatky obce.
                                    Prevzatie hlasovacích lístkov a obálky potvrdí volič v zozname voličov vlastnoručným podpisom.</p>
                            </li>
                            <li>
                                <p>Volič sa pred hlasovaním odoberie do osobitného priestoru určeného na úpravu hlasovacích lístkov.</p>
                                <div class="alert alert-danger">
                                    <span class="fa fa-ban pull-left"></span><p>Voličovi, ktorý nevstúpi do tohto priestoru, okrsková volebná komisia hlasovanie neumožní.</p>
                                </div>
                            </li>
                            <li>
                                <p>V osobitnom priestore určenom na úpravu hlasovacích lístkov volič vyberie jeden hlasovací lístok toho kandidujúceho subjektu (strany alebo hnutia),
                                    ktorému sa rozhodol odovzdať svoj hlas.</p>
                                <p>Tento hlasovací lístok môže:</p>
                                <br>
                                <ul>
                                    <li>bez ďalšej úpravy vložiť do obálky</li>
                                    <li>na vybranom hlasovacom lístku môže volič zakrúžkovaním poradového čísla označiť kandidáta, ktorému dáva prednosť.
                                        Volič môže zakrúžkovať poradové číslo <strong>najviac štyroch</strong> kandidátov.</li>
                                </ul>
                                <br><br>
                                <div class="alert alert-warning">
                                    <span class="fa fa-exclamation-triangle pull-left"></span><p>Ak volič odovzdá prednostný hlas viac ako štyrom kandidátom, taký hlasovací lístok sa bude počítať v prospech kandidujúceho subjektu
                                    a na prednostné hlasy sa nebude prihliadať.</p>
                                </div>
                                <div class="alert alert-info">
                                    <span class="fa fa-info-circle pull-left"></span>
                                    <p>Ak sa volič pomýli pri úprave hlasovacích lístkov, okrsková volebná komisia mu na požiadanie vydá za nesprávne upravené hlasovacie lístky iné.
                                        Nesprávne upravené hlasovacie lístky vloží volič do schránky na odloženie nepoužitých hlasovacích lístkov.</p>

                                </div>
                                <div class="alert alert-info">
                                    <span class="fa fa-info-circle pull-left"></span>
                                    <p>Volič, ktorý nemôže sám upraviť hlasovací lístok pre zdravotné postihnutie alebo preto, že nemôže čítať alebo písať a
                                        oznámi pred hlasovaním túto skutočnosť okrskovej volebnej komisii, má právo vziať so sebou do priestoru určeného na úpravu hlasovacích lístkov
                                        inú spôsobilú osobu, aby podľa jeho pokynov upravila hlasovací lístok a vložila do obálky. Obidve osoby pred vstupom do osobitného priestoru
                                        na úpravu hlasovacích lístkov člen okrskovej volebnej komisie poučí o spôsobe hlasovania a o skutkovej podstate trestného činu marenia prípravy
                                        a priebehu volieb. <strong>Členovia okrskovej volebnej komisie nesmú</strong> voličom upravovať hlasovacie lístky.</p>
                                </div>
                            </li>
                            <li>
                                <p>Volič sám vloží obálku s hlasovacím lístkom do volebnej urny</p>
                                <div class="alert alert-info">
                                    <span class="fa fa-info-circle pull-left"></span><p>Za voliča, ktorý nemôže pre zdravotné postihnutie sám vložiť obálku do volebnej schránky, môže ju do nej na jeho požiadanie a v jeho prítomnosti
                                    vložiť iná osoba, ale <strong>nie člen volebnej komisie</strong>.</p>
                                </div>
                                <div class="alert alert-danger">
                                    <span class="fa fa-ban pull-left"></span><p>Volič je <strong>povinný odložiť nepoužité hlasovacie lístky</strong> alebo nesprávne upravené hlasovacie lístky do zapečatenej schránky na odloženie nepoužitých
                                    alebo nesprávne upravených hlasovacích lístkov, inak sa dopustí priestupku, za ktorý mu bude uložená <strong>pokuta 33 eur</strong>.
                                    Ak ide o hlasovanie mimo volebnej miestnosti, volič nepoužité hlasovacie lístky alebo nesprávne upravené hlasovacie lístky znehodnotí
                                    pred členmi okrskovej volebnej komisie.</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>